<h1>New Message</h1>

<%= form_with(model: message) do |form| %>
  <fieldset>
    <legend><%= form.label :recipient %></legend>

    <%= form.email_field :recipient, required: true, data: {
      validation_message: form.object.errors[:recipient].first
    } %>
  </fieldset>

  <fieldset>
    <legend><%= form.label :subject %></legend>

    <%= form.text_field :subject, required: true, data: {
      validation_message: form.object.errors[:subject].first
    } %>
  </fieldset>

  <fieldset>
    <legend><%= form.label :content %></legend>

    <%= form.text_area :content %>
  </fieldset>

  <%= form.button %>
<% end %>
